<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSIA</title>
    <link rel="stylesheet" href="/static/css/style7.css?v=3">
</head>

<body>
    <div id="wrapper">
        <div id="Background">

            <div id="Menu">

                <div id="logo">
                    <img src="https://www.nicepng.com/png/full/89-891434_white-car-icon-png-car-icon-green-png.png">
                    <p>SSIA</p>
                </div>

                <div class="item">
                    <a href="/" target="_self">
                        Home
                    </a>
                </div>

                <div class="item">
                    <a href="/vehicle" target="_self">
                        Vehicle
                    </a>

                </div>

                <div class="item">
                    <a href="/location" target="_self">
                        Location
                    </a>
                </div>

                <div class="item">
                    <a href="/health" target="_self">
                        Health
                    </a>
                </div>

                <div class="item">
                    <a href="/graphs" target="_self">
                        Graphs
                    </a>
                </div>

                <div class="item">
                    <a href="/accounts" target="_self">
                        Accounts
                    </a>
                </div>

                <div class="item">
                    <a href="/demo" target="_self">
                        Demo
                    </a>
                </div>

                <div class="nav-right"></div>
            </div>

             <div class="container">
                <h2>Youtube Demo Video</h2>
                <iframe width="1500" height="900" src="https://www.youtube.com/embed/GqbPKjMHmVo" title="IotDemo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>

            <div id="Repo">
                <h2>Github Repository Link</h2>
                <a href="https://github.com/RonsJose/IOT-PROJECT" target="_blank">https://github.com/RonsJose/IOT-PROJECT</a>
            </div>

        </div>
    </div>
</body>

</html>
    
