<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSIA</title>
    <link rel="stylesheet" href="/static/css/style5.css?v=2">
</head>

<body>
    <div id="wrapper">
        <div id="Background">

            <div id="Menu">

                <div id="logo">
                    <img src="https://www.nicepng.com/png/full/89-891434_white-car-icon-png-car-icon-green-png.png">
                    <p>SSIA</p>
                </div>

                <div class="item">
                    <a href="/" target="_self">
                        Home
                    </a>
                </div>

                <div class="item">
                    <a href="/vehicle" target="_self">
                        Vehicle
                    </a>

                </div>

                <div class="item">
                    <a href="/location" target="_self">
                        Location
                    </a>
                </div>

                <div class="item">
                    <a href="/health" target="_self">
                        Health
                    </a>
                </div>

                <div class="item">
                    <a href="/graphs" target="_self">
                        Graphs
                    </a>
                </div>

                <div class="item">
                    <a href="/accounts" target="_self">
                        Accounts
                    </a>
                </div>

                <div class="nav-right"></div>
            </div>

            <div class="graphs-panel">
                <h2>Live Sensor Data</h2>

                <div class="graphs-grid">
                    <iframe
                        src="https://thingspeak.mathworks.com/channels/3151130/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=10&type=line"></iframe>
                    <iframe
                        src="https://thingspeak.mathworks.com/channels/3151130/charts/2?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=10&type=line"></iframe>
                    <iframe
                        src="https://thingspeak.mathworks.com/channels/3151130/charts/3?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=10&type=line"></iframe>
                    <iframe
                        src="https://thingspeak.mathworks.com/channels/3151130/charts/4?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=10&type=line"></iframe>
                    <iframe
                        src="https://thingspeak.mathworks.com/channels/3151130/charts/5?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=10&type=line"></iframe>
                </div>
            </div>


        </div>
    </div>
</body>

</html>
    
