<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSIA</title>
    <link rel="stylesheet" href="/static/css/style4.css?v=2">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.min.js"></script>
</head>

<body>
    <div id="wrapper">
        <div id="Background">

            <div id="Menu">

                <div id="logo">
                    <img src="https://www.nicepng.com/png/full/89-891434_white-car-icon-png-car-icon-green-png.png">
                    <p>SSIA</p>
                </div>

                <div class="item">
                    <a href="/" target="_self">
                        Home
                    </a>
                </div>

                <div class="item">
                    <a href="/vehicle" target="_self">
                        Vehicle
                    </a>

                </div>

                <div class="item">
                    <a href="/location" target="_self">
                        Location
                    </a>
                </div>

                <div class="item">
                    <a href="/health" target="_self">
                        Health
                    </a>
                </div>

                <div class="item">
                    <a href="/graphs" target="_self">
                        Graphs
                    </a>
                </div>

                <div class="item">
                    <a href="/accounts" target="_self">
                        Accounts
                    </a>
                </div>

                <div class="item">
                    <a href="/demo" target="_self">
                        Demo
                    </a>
                </div>

                <div class="nav-right"></div>
            </div>

            <div class="container">
                <h2>Health Monitor</h2>

                <div class="container-grid">
                    <div class="container-tile heartrate">
                        <span class="icon">♥️</span>
                        <h3 id="heartrate">104<span>bpm</span></h3>
                        <p>HeartRate</p>
                    </div>

                    <div class="container-tile blood">
                        <span class="icon">🩸</span>
                        <h3 id="blood">95<span>%</span></h3>
                        <p>Blood Oxygen</p>
                    </div>

                    <div class="container-tile alcohol">
                        <span class="icon">🍺</span>
                        <h3 id="alcohol">25<span>%</span></h3>
                        <p>Alcohol Level</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

<script>
    const socket = io();
    socket.on("mqtt_message", (message) => {
        const value = message.payload;
        const topic = message.topic;

    if(topic=== "sensor/heartrate")
    {
        document.getElementById("heartrate").innerHTML = value.toString() + "<span>bpm</span>";
    }else if (topic=== "sensor/blood")
    {
        document.getElementById("blood").innerHTML = value.toString() + "<span>%</span>";
    }else if (topic=== "sensor/alcohol")
    {
        document.getElementById("alcohol").innerHTML = value.toString() + "<span>%</span>";
    }
        
    });
</script>

</html>
