<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSIA</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.min.js"></script>
    <link rel="stylesheet" href="/static/css/style2.css?v=3">
</head>

<body>
    <div id="wrapper">
        <div id="Background">

            <div id="Menu">

                <div id="logo">
                    <img src="https://www.nicepng.com/png/full/89-891434_white-car-icon-png-car-icon-green-png.png">
                    <p>SSIA</p>
                </div>

                 <div class="scroll">
                    <div class="item">
                        <a href="/" target="_self">
                            Home
                        </a>
                    </div>

                    <div class="item">
                        <a href="/vehicle" target="_self">
                            Vehicle
                        </a>

                    </div>

                    <div class="item">
                        <a href="/location" target="_self">
                            Location
                        </a>
                    </div>

                    <div class="item">
                        <a href="/health" target="_self">
                            Health
                        </a>
                    </div>

                    <div class="item">
                        <a href="/graphs" target="_self">
                            Graphs
                        </a>
                    </div>

                    <div class="item">
                        <a href="/accounts" target="_self">
                            Accounts
                        </a>
                    </div>

                    <div class="item">
                        <a href="/demo" target="_self">
                            Demo
                        </a>
                    </div>

                    
                </div>
            </div>

            <div class="container">
                <h2>Environment</h2>

                <div class="container-grid">
                    <div class="container-tile temp">
                        <span class="icon">🌡</span>
                        <h3 id="temperature">--<span>°C</span></h3>
                        <p>Temperature</p>
                    </div>

                    <div class="container-tile humidity">
                        <span class="icon">💧</span>
                        <h3 id="humidity">--<span>%</span></h3>
                        <p>Humidity</p>
                    </div>

                    <div class="container-tile distance">
                        <span class="icon">📏</span>
                        <h3 id="distance">--<span>cm</span></h3>
                        <p>Distance</p>
                    </div>

                    <div class="container-tile door">
                        <span class="icon">🔐</span>
                        <h3 id="door"><span>--</span></h3>
                        <p>Lock</p>
                    </div>
                </div>
            </div>

            <div class="container controls">
                <h2>Door Controls</h2>
                <div class="container-grid control">
                    <div class="container-tile">
                        <button onclick="setLock('Open')">Open</button>
                    </div>
                    <div class="container-tile">
                        <button onclick="setLock('Closed')">Close</button>
                    </div>
                </div>
            </div>

            <div class="Camera">
                <img id="camera" src="/latest.jpg" alt="Camera feed">
            </div>

        </div>
    </div>
</body>
<script>

    function setLock(value) {
        fetch("/set_lock", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({ value })
        })
            .then(response => response.text())
            .then(data => {
                console.log("Lock response:", data);
            })
            .catch(error => {
                console.error("Error:", error);
            });
    }

    const socket = io();
    socket.on("mqtt_message", (message) => {
        const value = message.payload;
        const topic = message.topic;

        if (topic === "sensor/temperature") {
            document.getElementById("temperature").innerHTML = value.toString() + "<span>°C</span>";
        } else if (topic === "sensor/distance") {
            document.getElementById("distance").innerHTML = value.toString() + "<span>cm</span>";
        } else if (topic === "sensor/humidity") {
            document.getElementById("humidity").innerHTML = value.toString() + "<span>%</span>";
        }
        else if (topic == "sensor/door") {
            document.getElementById("door").innerHTML = "<span>" + value.toString() + "</span>";
        }

    });

    function refreshCamera() {
        const cam = document.getElementById("camera");
        cam.src = "/latest.jpg?t=" + Date.now();
    }

    setInterval(refreshCamera, 1000);
</script>

</html>