<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSIA</title>
    <script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
    <link rel="stylesheet" href="/static/css/style2.css">
</head>

<body>
    <div id="wrapper">
        <div id="Background">

            <div id="Menu">

                <div id="logo">
                    <img src="https://www.nicepng.com/png/full/89-891434_white-car-icon-png-car-icon-green-png.png">
                    <p>SSIA</p>
                </div>

                <div class="item">
                    <a href="/vehicle" target="_self">
                        Vehicle
                    </a>

                </div>

                <div class="item">
                    <a href="/location" target="_self">
                        Location
                    </a>
                </div>

                <div class="item">
                    <a href="/health" target="_self">
                        Health
                    </a>
                </div>

                <div class="item">
                    <a href="/graphs" target="_self">
                        Graphs
                    </a>
                </div>

                <div class="item">
                    <a href="/" target="_self">
                        Home
                    </a>
                </div>

                <div class="nav-right"></div>
            </div>

            <div id="container">
                <div class="object object-1">

                </div>
                <div class="object object-2">

                </div>
                <div class="object object-3">

                </div>
            </div>

            <div class="container">
                <h2>Environment</h2>

                <div class="container-grid">
                    <div class="container-tile temp">
                        <span class="icon">🌡</span>
                        <h3 id="temperature">23<span>°C</span></h3>
                        <p>Temperature</p>
                    </div>

                    <div class="container-tile humidity">
                        <span class="icon">💧</span>
                        <h3>64<span>%</span></h3>
                        <p>Humidity</p>
                    </div>

                    <div class="container-tile distance">
                        <span class="icon">📏</span>
                        <h3>25<span>cm</span></h3>
                        <p>Distance</p>
                    </div>
                </div>
            </div>

            <div class="Camera">
                <img id="camera" alt="Camera feed">
            </div>

        </div>
    </div>
</body>
<script>  
    const host = "wss://mqtt.ssia.online:9002"  
    const options = {
      keepalive: 60,
      clean: true,
      reconnectPeriod: 1000,
      connectTimeout: 30 * 1000,
      will: {
        topic: 'WillMsg',
        payload: 'Connection Closed abnormally..!',
        qos: 0,
        retain: false
      },
    }
    console.log('Connecting mqtt client')
    const client = mqtt.connect(host, options)
    client.on('error', (err) => {
      console.log('Connection error: ', err)
      client.end()
    }) 
    
    client.on('connect',() =>{
      console.log("Connected to broker");
      client.subscribe('sensor/temperature', { qos: 0 })
    })

    client.on('reconnect', () => {
      console.log('Reconnecting...')
    })

    client.on('message', (topic, message, packet) => {
    console.log(`Received Message: ${message.toString()} On topic: ${topic}`)
    const temp = document.getElementById("temperature");
    if (temp){
      temp.innerHTML=message.toString() + "<span>°C</span>";
    }
})
</script>
</html>
