<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSIA</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.min.js"></script>
    <link rel="stylesheet" href="/static/css/style2.css">
</head>

<body>
    <div id="wrapper">
        <div id="Background">

            <div id="Menu">

                <div id="logo">
                    <img src="https://www.nicepng.com/png/full/89-891434_white-car-icon-png-car-icon-green-png.png">
                    <p>SSIA</p>
                </div>

                <div class="item">
                    <a href="/vehicle" target="_self">
                        Vehicle
                    </a>

                </div>

                <div class="item">
                    <a href="/location" target="_self">
                        Location
                    </a>
                </div>

                <div class="item">
                    <a href="/health" target="_self">
                        Health
                    </a>
                </div>

                <div class="item">
                    <a href="/graphs" target="_self">
                        Graphs
                    </a>
                </div>

                <div class="item">
                    <a href="/" target="_self">
                        Home
                    </a>
                </div>

                <div class="nav-right"></div>
            </div>

            <div id="container">
                <div class="object object-1">

                </div>
                <div class="object object-2">

                </div>
                <div class="object object-3">

                </div>
            </div>

            <div class="container">
                <h2>Environment</h2>

                <div class="container-grid">
                    <div class="container-tile temp">
                        <span class="icon">🌡</span>
                        <h3 id="temperature">23<span>°C</span></h3>
                        <p>Temperature</p>
                    </div>

                    <div class="container-tile humidity">
                        <span class="icon">💧</span>
                        <h3 id="humidity">64<span>%</span></h3>
                        <p>Humidity</p>
                    </div>

                    <div class="container-tile distance">
                        <span class="icon">📏</span>
                        <h3 id="distance">25<span>cm</span></h3>
                        <p>Distance</p>
                    </div>
                </div>
            </div>

            <div class="Camera">
                <img id="camera" alt="Camera feed">
            </div>

        </div>
    </div>
</body>
<script>
    const socket = io();
    socket.on("mqtt_message", (message) => {
        const value = message.payload;
        const topic = message.topic;

    if(topic=== "sensor/temperature")
    {
        document.getElementById("temperature").innerHTML = value.toString() + "<span>°C</span>";
    }else if (topic=== "sensor/distance")
    {
        document.getElementById("distance").innerHTML = value.toString() + "<span>cm</span>";
    }else if (topic === "sensor/humidity")
    {
        document.getElementById("humidity").innerHTML = value.toString() + "<span>%</span>";
    }
        
    });
</script>

</html>